.widget_calendar
{
    thead,
    tbody
    {
        th,
        td
        {
            padding: 3px;
            text-align: center;
        }
    }
}

.widget_fik_social_widget
{
    .fik-share-item
    {
        padding: 0 7px;
    }
}
