// Single post
.single-post
{
    .hentry
    {
        margin-bottom: 0;

        figure
        {
            margin-bottom: $line-height-computed;
        }

        .entry-content
        {
            margin-bottom: 30px;
        }
    }
}
