.sidebar
{
    .widget
    {
        margin-bottom: 15px;

        &:last-child
        {
            margin-bottom: 0;
        }

        .widget-title
        {
            margin-top: 0;
        }
    }
}

body.page-template-template-sidebar-left-php
{
    main.main
    {

        @media all and (min-width:$screen-xs-max)
        {
            float: right;
        }
    }
}
